.we-buttons-container {
    display: flex; 
    flex-direction: column;
    width: 100%;
}
.we-buttons-title {
    font-weight: 700 ;
    font-size: 1.25rem ;
    padding: 25px 0% 15px 0%;
}
.we-buttons {
    padding-right: 20%;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start ;
    align-content: start;
    min-height: 250px;
}
.we-buttons  button{
    margin: 1% 2% 1% 0%;
    padding: 2.5px 5px ;
    border-radius: 5px ;
    font-weight: 600 ;
    font-size: 0.75rem;
    width: 180px ;
    height: 35px ;
    background-color: #fff ;
    border: 2px solid #d9d9d9;
}
.we-buttons .selected {
    background-color: #F7EBEA ;  
    color : var(--primaryColor) ;
    border: 2px solid var(--primaryColor) ;
}