.crs-contact-form {
  width: 80%;
  display: flex; 
  background-color:#fff;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: var(--primaryFont);
  border-radius: 10px ;
}
.crs-contact-form .contact-form {
  width: 60%;
  padding: 20px 10% 20px 2%;
  border-radius: 10px ;
  color: #fff ;
  display: flex; 
  justify-content: start ;
  flex-direction: column;
  background-color: var(--primaryColor);

}
.crs-contact-form .buzz {
  font-size: 1.75rem ;
  font-weight: 700 ;
  align-self: start;
  justify-self: start;
  color: #fff ; 
  padding: 100px 0px;
}
.crs-contact-form button {
  width: 100% ;  
  background-color: #252e3a ; 
  color: #fff; 
  font-size: 1rem ;
  border-radius: 5px ;
  margin: 20px 0px 30px 0px ;
  outline: none ;
}
.crs-contact-form button:active { 
  background-color: #151A20; 

}
.crs-contact-form .contact-form .title {
  font-size: 3rem ;
  font-weight: 640 ;
  padding: 5px 0px;
}
.crs-contact-form .contact-form .desc { 
  font-size: 1.1rem ; 
  margin-top: -10px ;
  width: 100%;
  font-weight: 550; 
}
.crs-contact-form .contact-form .footer {
  font-size: 1rem; 
  font-weight: 500; 
  padding: 70px 0px 30px 0px ;
}
.crs-contact-form .input-fields-container {
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}
.crs-contact-form .input-fields-container .input-field {
  display: flex ; 
  flex-direction: column ; 
  width: 100% ;
  padding: 5px 0px;
} 
.crs-contact-form .input-fields-container .input-field input {
  border-radius: 3px ;
  outline: none; 
  border-width: 0px ;
  font-size: 1rem;
  height: 30px ; 
}
.crs-form-display {
  width: 40% ;
  display: flex ;
  align-items: center;
  justify-content: center;   
  flex-direction: column ; 
} 
.crs-form-display-small {   
  flex-direction: row ;
  width: 100% ;
  display: none ;  
}
.crs-form-display img {
  width: 187px ;
  transform: translateX(5px);
  height : 150px ;
  margin-bottom: 50px ;
}
.crs-form-display div {
  font-size: 2rem; 
  font-weight: 700 ;   
  text-align: center ;
}
.crs-form-container {
  width: 80%;
  display: flex; 
  flex-direction: row;
  font-family: var(--primaryFont);
  border: none;
}
.crs-score-display {
  width: 15%;
  margin: 5% 0% 5% 0%;
  display: flex;
  padding: 25px 2.5%;
  flex-direction: column;
  align-items: center; 
  align-self: center;
  justify-content: center;
  border:2px solid black;
  border-radius: 15px;
  margin-top: 100px ;
  margin-bottom: 100px ;
}
.crs-form {
  width: 80%;
  padding: 0% 5% 0% 0%;
  display: flex; 
  justify-content: start ;
  flex-direction: column;
}
.crs-score-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.crs-score-banner-img{
  width: 125px; 
  height: 100px;
}
.crs-score-section {
  width: 100%; 
  display: flex; 
  padding: 5%;
  flex-direction: column;
  align-items: center;
}
.crs-score-title {
  text-align: center;
  font-size: 1.4rem ;
  width: 100%; 
  padding-top: 15px;
  border-top: 1px solid #dee2e6;
  font-weight: 700;
}
.crs-score-display .crs-score {
  font-size: 2rem ;
  text-align: center ;
  font-weight: 500;
  width: 100px; 
  height: 100px;
  margin: 10px 0px; 
  display: flex; 
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #B22222;
  border-radius: 50%;
}
.crs-score-banner-contact {
  display: flex; 
  width: 100% ;
  flex-direction: row; 
  font-weight: 500;
  padding:10px 1% 0px 1%;
  justify-content: center;
  text-align: center;
}
.crs-score-banner-contact-icon {
  width: 40px ;
  height: 40px ;
}
.crs-score-banner-contact-text {
  font-family: var(--secondaryFont) ;
  margin-left: 5px;
  font-size: 1rem  ;
  width: 100% ; 
}
.crs-form-step {
  margin: 2% 0.5% 1% 0.5%;
  font-size: 0.95rem ;
  font-weight: 600;
}
.crs-form-step-box {
  display:flex ;
  flex-direction: row ;
}
.crs-form-step-box .box {
  width: 30px; 
  height: 10px;
  border: 2px solid var(--primaryColor) ;
  background-color: none;
  margin: 0.5%; 
  border-radius: 4px ;
}
.language-container {
  display: flex ; 
  flex-direction: column ;
}
.crs-form-inputs {
  justify-self:end;
}
.crs-form-heading{ 
  font-weight: 700;
  padding : 5px 0px ;
  font-size: 1.5rem;
}
.crs-form-description {
  font-family: var(--primaryFont);
  font-size: 1rem ;
  padding: 5px 0px;
  width: 85%;
  font-weight: 500;
}
.crs-form-buttons {
  min-width: 35%;
  margin-top: 30px ;
  display: flex; 
  flex-direction: row; 
  justify-content: start ;
}
.crs-form-prev:active {
  border: 2px solid var(--primaryColor);
  color: var(--primaryColor) ;
  background-color: #fff; 
}
.crs-form-next:active { 
  color : #fff ;
  background-color: var(--primaryColor) ;
}
.crs-form-prev:active { 
  color : var(--primaryColor) ;
  background-color: #fff ;
}
.crs-form-prev { 
  width: 200px  ;
  border-radius: 5px ;
  border: 2px solid var(--primaryColor) ;
  color : #fff ;
  background-color: var(--primaryColor) ;
  margin-right: 2%;
}
.crs-form-next { 
  width: 200px;
  border: 2px solid var(--primaryColor);
  color: var(--primaryColor) ;
  background-color: #fff ;
  border-radius: 5px ;
}
.crs-score-display-small {
  display: none ;
  margin: 25px 0px ;
  width: 100%;
  flex-direction: row ;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  flex-wrap: wrap;  
  border-radius: 10px ;
  width:fit-content;
}
.crs-score-display-small .crs-score {
  display: flex ; 
  font-family: var(--primaryFont) ;
  font-size: 1.25rem ;
  font-weight: 650 ;
  height: 25px ;  
  margin: 0px 15px;
  text-align: center ;
}

.crs-score-display-small .crs-score-banner-img {
  width: 100px ;
  height: 60px ;
}
@media (max-width:960px) {
  .crs-form {
    width: 100%; 
    padding: 0;
  }
  .crs-form-container{
    display: flex ;
    flex-direction: column ;
  } 
  .crs-score-display {
    display: none ;
  }
  .crs-form-display {
    display: none ;
  }
  .crs-contact-form .contact-form {
    width: 100% ;
    padding: 20px 5%;
  }
  .crs-contact-form {
    display: flex ;
    width: 80%;
    flex-direction: column; 
  } 
  .crs-form-display-small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0px ;
    align-items: center;
  }
  .crs-score-display-small {
    display: flex ;
    width: 100%; 
  }
  .crs-form-display-small img {
    width: 90px;
    height: 70px ;
  }
  .crs-form-display-small div {
    font-size: 1.25rem ;
    font-weight: 600;
  }
  .crs-contact-form .contact-form .buzz {
    font-size: 1rem ; 
  }
  .crs-form-description { 
    width: 100%;
  }
  .crs-form-container {
    width: 90%;
  }
}
